/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

#page{
	overflow: hidden;
}
#breadcrumbs {
    z-index: 10;
    position: relative;
}
.ast-archive-description {
    margin-bottom: 0px!important;
    padding-left: 20px!important;
}
.advSearch .fl-icon:hover{
    	cursor: pointer;
    }
 #main article.post{
    	padding: 20px!important;
    }
 .fl-slide-content{
    	padding: 0px!important;
    }
.footerMenu .fl-menu-mobile-flyout .menu li {
	text-align: left!important;
}
.footerMenu .fl-menu-mobile-flyout .menu li a{
	padding: 12px 20px!important;
}
.footerMenu .fl-menu-mobile-toggle.hamburger{
	color: #fff!important;
}
.fl-menu-mobile-flyout #menu-topmenu li a, .footerMenu .fl-menu-mobile-flyout .menu li a{
	color: #2E5971!important;
}

.fl-menu-mobile-flyout #menu-topmenu li.current-menu-item a, .footerMenu .fl-menu-mobile-flyout .menu li.current-menu-item a{
	color: #81242a!important;
}

.mobileMenuTop .fl-module-content{
	margin: 0px!important;
}	
#main .ast-row .post:nth-child(1) {
    margin-top: 1.5em!important;
    margin-bottom: 20px;
}
#main .ast-row .post {
margin-left: 20px;
   position: static!important;
   display: block!important;
}
#main .ast-row{
	width: 100%;
}
.widget-area.secondary .sidebar-main{
	padding: 20px!important;
}
ul.storename {
    list-style: none!important;
    margin: 0px!important;
}
a{
	outline: none!important;
}
.storename .direction > a{
	font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #831722;
    background-color: #8f232e!important;
    color: #fff!important;
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.storename .direction > a span{
	color: #fff!important;
}
.widget_search .search-field, .widget_search .search-field:focus {
    width: 100%;
    padding: 8px 45px 8px 15px!important;
	    font-size: 14px!important;
}
.storename .direction > a:hover{
    background-color: #2E5971!important;
    color: #fff!important;
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
header .menu-item a{
	outline: none!important;
}
header .menu-item:not(#menu-item-921499) a{
	outline: none!important;
	border: none!important;
}
header .menu-item .storename li .phone a span::before {
    content: "\ea3e";
    font-family: Ultimate-Icons!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
	transform: rotate(90deg);
}
ul#menu-flooring-menu li a,
ul#menu-copyright-bar-menu li a{
    color: #fff;
}
.gform_footer input{
	border: 1px solid #2e5971; 
}
ul.storename {
    list-style: none!important;
    margin: 0px!important;
}
.storename .address p{
	margin-bottom: 0px!important;
}

.location-top .fl-icon-wrap .fl-icon-text p {
	margin: 0px!important;	
}
.searchHeader{
	display: none;
    position: absolute;
    z-index: 11;
    right: 0;
    left: 0;
	box-shadow: 6px 6px 9px 4px #ccccccad;
}
.search-row{
	padding: 20px!important;
    max-width: 1200px;
    margin: 0 auto;padding: 20px!important;
}
.search-row .plp-view-product{
	padding: 8px 30px!important;
    background-color: #8f232e;
    color: #fff!important;
    display: block!important;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.search-row .plp-view-product:hover{
	padding: 8px 30px!important;
    background-color: #2E5971!important;
    color: #fff!important;
    display: block;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none!important;
}
.search-row .product-grid.btn-grey>.fl-button.getcoupon-btn{
	    margin-top: 10px!important;
}

.button-wrapper-default a, .button-wrapper-default a.button, .product-grid .product-grid.btn-grey > a.plp_box_btn, .product-box .button-wrapper > a{
	font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #2E5971;
    background-color: #2E5971!important;
    color: #fff!important;
    border-style: none;
    border-width: 0!important;
	border-radius: 0px!important;
}
.button-wrapper-default a:hover, .button-wrapper-default a.button:hover, .product-grid .product-grid.btn-grey > a.plp_box_btn:hover, .product-box .button-wrapper > a:hover{
    background-color: #831722!important;
    color: #fff!important;
    border-style: none;
    border-width: 0!important;
}
.fl-menu .btn a{
	border :1px solid #fff;
}
.astra-advanced-hook-270 .address a, .astra-advanced-hook-270 .storename .phone a{
	color:#fff;
}

.phn-wrp .fl-icon-wrap .fl-icon-text-wrap > p {display:none;
}
.social-icons li a{
	color:#fff!important;
}
footer a{
	color:#fff!important;
}
#primary {
    margin: 0em 0;
}
#content .entry-header.ast-no-thumbnail{
	display:none;
}
.product-plp-grid .product-variations1 .plp_slide_wrap .slides{
	    display: flex;
    flex-direction: row;
    flex-wrap: nowrap!important;
}
.brandSlider .uabb-module-content{
	min-height: 250px;	
}
.ast-container{
	padding: 0px!important;
}
li.gfield{
	padding-right: 15px!important;
}	
.gform_footer {
	padding-right: 15px!important;
}
.gform_wrapper .gfield_time_ampm{
	    min-width: 80px!important;
}

.gform_wrapper .gfield_time_ampm select{
	 min-width: 100%!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.gform_wrapper .gfield_time_hour i{
	margin-top: 0px!important;
}
.gform_wrapper textarea.large {
    height: 220px!important;
}
#primary, .entry-header {
	padding-top: 0px!important;
margin-bottom: 0px!important;
}
.hours h3, 
.hours p {
	margin: 0px!important;
}
.store-opening-hrs li{
	position: relative;
}
#secondary {
	 display: none!important;
}
#primary {
    width: 100%!important;
}

.store-opening-hrs {
	margin-left: 20px;
}
.store-opening-hrs li span{
	position: absolute;
	right: 0;
}
.product-box .fl-post-title{
 	font-size: 18px!important;
 }
.product-variations .slick-list, .product-variations .slick-slider{
	float: left;
	width: 100%;
}
#primary{
	padding: 0px!important;
}
@media(min-width: 768px){

}
@media(min-width: 992px){
	.brandSlider .slick-track{
    display: flex;
    align-items: center;
}	
@media screen and (max-width: 1024px) and (min-width: 768.5px){

.style-product_list .pro-container .pro-details .button-wrapper {
    flex-direction: column;
}
#menu-main-menu.menu > li {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.hours > .fl-module-content{
	margin-right: 0px!important;
}
	h3.uabb-ultb3-title {
    font-size: 18px!important;
}
}
	
@media(max-width: 1024px){
.lessMargin .fl-module-content{
	margin: ;		
}	
}
@media(max-width: 992px){
.responsive-button-wrapper-default {
    display: inline-block!important;
    width: 100%!important;
}		
}
@media(max-width: 768px){

#product-colors {
        display: block!important;
}
	.sidebar-main{
		display: none;
	}
.locationAlign .fl-rich-text > div{
	width: 50%;
}
.locationAlign .fl-rich-text {
	display: flex!important;
	flex-wrap: wrap!important;
}
.max-width-issuefour .uabb-photo-content img{
	max-width: 400px!important;
	margin: 0 auto!important;
}
#primary, #secondary {
	    padding: 0px!important;
}
.ast-container{
		padding: 0px!important;
}	
.fl-slide .fl-slide-content{
	padding: 0px!important;
}
.entry-header.ast-header-without-markup{
		    margin: 0!important;
}
#menu-copyright-bar-menu{
	    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menu-copyright-bar-menu li a{
	 padding-left: 14px!important;
}
 .mob100 .fl-icon-text > p{
	margin: 0px!important;
}
}
@media(max-width: 525px){
.locationAlign .fl-rich-text > div{
	width: 100%;
}
	}